.centrar{
    text-align:center;
}


  .table-pager > td {
  padding-top: 10px;
}

  .table-pager > td > a {
    background-color: #25476a;
    color:white;
    border: 1px solid #25476a;
 
    padding: 6px 12px;
  }

  .table-pager > td   {
    background-color: white;
    color:white;
    border: 1px solid #25476a;
 
    padding: 6px 12px;
  }

  .table-pager > td > a:hover {
    background-color: #25476a;
  }


.select2-dropdown--below {
    border-color: #25476a !important;
}

.select2-dropdown--above {
    border-color: #25476a !important;
}

.select2-container--focus {
    border-color: #25476a !important;
}

.select2-container--default {
    border-color: #25476a !important;
}

.select2-container {
    border-color: #25476a !important;
}

.select2-hidden-accessible {
    border-color: #25476a !important;
}

.select2-container--open.select2-container--default.select2-container--below .select2-selection--single {
    border-color: #25476a !important;
}


.select2-container--default .select2-selection--single {
    border-color: #25476a !important;
}

.magic-checkbox + label:before {
    border-color: #25476a !important;
}